<article>
<h1>Sign Up Form</h1>
<div>
	<% if flash[:notice] %>
		<% for error in flash[:notice] do %>
		    <%= "#{error[0]}: #{error[1][0]}" %> <br>
		<% end %>
		<br>
	<% end %>
	<%puts "URL: #{request.original_url}"%>
</div>
<div>
	<%= form_with model: @user, class: "signup_form", url: main_menu_path, method: "post" do |f| %>
	  <%= f.label("Name:") %>
	  <%= f.text_field :name %><br>
	  <%= f.label("Username:") %>
	  <%= f.text_field :username %><br>
	  <%= f.label("Password:") %>
	  <%= f.password_field :password %><br>
	  <%= f.submit "Create" %>
	<% end %>
</div>
<div>
	<p> <%= link_to("Return to Homepage", main_menu_path) %> </p>
</div>
</article>