<!DOCTYPE html>
<html>
  <head>
    <title>SlangTrans</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <ul class="navbar">
      <li class="navbar">
          <a href= <%= main_menu_path %> >
          <%= image_tag("st_logo.png", class: "img-responsive", height: "100px", weight: "100px")%>
          </a>
      </li>
      <li class="navbar" style="float:right">
        <div id="login_out_button">
          <%# If user exist, show the logout button, else show the log in button %>
          <% if session[:user_id] %>
            <p> Profile: <%= session[:user_name] %> </p>
            <%= form_tag ({controller: 'sessions', action: 'destroy', method: 'post'}) do %>
              <input type=submit value='logout'>
            <% end %>
          <% else %>
            <p> <%= link_to("Login/Signup", login_path) %> </p>
          <% end %>
        </div>
      </li>
    </ul>

    <%= yield %>
  </body>
</html>
