<h1>Edit</h1>
<h3><%=@slang.phrase%></h3>
 
<%= form_for @slang do |f|%>
<%=f.label :phrase%>
<%=f.text_field :phrase%>
<%=f.label :origin%>
<%=f.text_field :origin%> <br>
<%=f.label :definitions%>
<%=f.fields_for :definitions do |definitions_fields| %> 
    <%= definitions_fields.text_field :meaning %> 
  <% end %>
<br>
<%=f.submit "Submit"%>
<%end%>





