<h1>Edit</h1>
<h3><%=@slang.phrase%></h3>
 
<%= form_for @slang do |f|%>
<%=f.label :phrase%>
<%=f.text_field :phrase%>
<%=f.label :origin%>
<%=f.text_field :origin%> <br>

<%@slang.definitions.each do |definition|%> <br>
<%=f.label definition.language %> 
<%=f.fields_for :definition do |definition_fields| %> 
    <%= definition_fields.text_field :meaning%> 
  <% end %>
  <%end%>
<br>
<%=f.submit "Submit"%>
<%end%>





