<h1>Edit</h1>
<h3><%=@slang.phrase%></h3>
 
<%= form_for @slang do |f|%>
<%=f.label :phrase%>
<%=f.text_field :phrase%>
<%=f.label :origin%>
<%=f.text_field :origin%> <br>

<ul>
	<%= f.fields_for :definitions do |definitions_form| %>
		<li>
			<p> Meaning: <%= definitions_form.text_field :meaning %> 
       Language: <%= definitions_form.text_field :language %> </p> 

      

		</li>
	<% end %>
	</ul>

 

 

  
  
<br>
<%=f.submit "Submit"%>
<%end%>

<%= button_to 'Back to Homepage', main_menu_path, method: "get" %>




