<article id="slang_edit">
<h1>Edit</h1>
<h3><%=@slang.phrase%></h3>
 <% if flash[:errors]%>
 <%flash[:errors].each do |error|%>
 <%= error%>
 <%end %>
 <%end%>
<%= form_for @slang do |f|%>
<%=f.label :phrase%>
<%=f.text_field :phrase%>
<%=f.label :origin%>
<%=f.text_field :origin%> <br>

<ul>
	<%= f.fields_for :definitions do |definitions_form| %>
		
			<p> Meaning: <%= definitions_form.text_field :meaning %> 
       Language: <%= definitions_form.select :language, ["", "english", "mandarin", "german"] %> </p> 

      

		
	<% end %>
	</ul>

 

 

  
  
<br>
<%=f.submit "Submit"%>
<%end%>

<%= link_to 'Back to Slangs', slang_path(@slang), method: "get" %>


</article>

