<%#This is used to keep track of which page u goto after logging in %>
<%session[:before_login_url] = request.original_url%> 

<h1><%= @slang.phrase %> </h1> 
<h3>Created by:<%=@slang.user.name%>  </h3>
<%if session[:user_id]%>
<%= button_to 'Edit Slang', edit_slang_path(@slang), method: "get" %>
<%= button_to "Delete Slang", @slang, :method => :delete %>
<% else %>
<%end%>

<% @slang.definitions.each do |definition|%>
    <p> <%= "#{definition.language} - #{definition.meaning}" %> </p>
   
<%end%>



<p>Related books recommendation: (click the title to see a book.)</p>
<ul>
 <%@slang.books.each do |book|%>
  <%= link_to book.title, book_path(book)%> <br>
  <%end%> 
</ul>

<%= link_to 'Back', slangs_path %>