<%#This is used to keep track of which page u goto after logging in %>
<%session[:before_login_url] = request.original_url%> 

<article>
	<h1><%= @slang.phrase %> </h1> 
	<h3>Created by:<%=@slang.user.name%>  </h3>
	<%if session[:user_id]%>
	<%= button_to 'Edit Slang', edit_slang_path(@slang), method: "get" %>
	<%= button_to "Delete Slang", @slang, :method => :delete %>
	<% else %>
	<%end%>

	<% @slang.definitions.each do |definition|%>
		<% case definition.language %>
		<% when "english" %>
		<% country_flag_url = "https://upload.wikimedia.org/wikipedia/en/thumb/a/a4/Flag_of_the_United_States.svg/800px-Flag_of_the_United_States.svg.png" %>
		<% when "german" %>
		<% country_flag_url = "https://upload.wikimedia.org/wikipedia/en/thumb/b/ba/Flag_of_Germany.svg/800px-Flag_of_Germany.svg.png" %>
		<% when "mandarin" %>
		<% country_flag_url = 'https://upload.wikimedia.org/wikipedia/commons/thumb/f/fa/Flag_of_the_People%27s_Republic_of_China.svg/1024px-Flag_of_the_People%27s_Republic_of_China.svg.png' %>
		<% end %>
	    <p> <img src=<%= country_flag_url %> id=<%definition.language%> alt="flag" height="20" width="38"> <%= "#{definition.language} : #{definition.meaning}" %> </p>
	   
	<%end%>



	<p>Related books recommendation: (click the title to see a book.)</p>

	
	<ul class="left">
	 <%if @slang.books.any?%>
	 
	 <%@slang.books.each do |book|%>
	  <%= link_to book.title, book_path(book)%> <br>
	  <%end%>
	<%else%>

	  <%= "There is no book recommendation for #{@slang.phrase}" %>
	  <%end%> 
	</ul>
	<div class="left" id="back_button">
		<%= link_to('Back', slangs_path) %>
	</div>

</article>

