<h1>Edit definition</h1>
<%= form_for @definition do |f|%>
<%=f.label :language%>
<%=f.text_field :language%>
<%=f.label :url%>
<%=f.text_field :url%>

<%=f.submit 'Submit'%>
<%end%>

<%= button_to 'Back to Homepage', main_menu_path, method: "get" %>